In [21]:
import pandas as pd
import yahooquery as yq
from utils.yahooquery_utils import Screener

In [22]:
screener = Screener(25,50,100,'1y', 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')

tickers_string = Screener.SP500_stocks_string(screener)

In [23]:
df = Screener.get_price_history(screener)

In [26]:
def _filter_dataframe(price_history_df: pd.DataFrame, list_of_portfolio_stocks:list) -> pd.DataFrame:

    filtered_df = price_history_df[price_history_df.index.isin(list_of_portfolio_stocks, level=0)]

    return filtered_df

In [25]:
ma_df = Screener.calculate_MAs(screener)
ma_df

                                        open        high         low  \
symbol date
mmm    2022-02-28                 149.289993  149.630005  146.750000
       2022-03-01                 148.580002  149.020004  144.149994
       2022-03-02                 145.610001  148.369995  144.919998
       2022-03-03                 148.520004  149.990005  147.520004
       2022-03-04                 146.160004  147.690002  145.740005
...                                      ...         ...         ...
zts    2023-02-22                 168.399994  169.110001  165.869995
       2023-02-23                 167.380005  169.729996  166.169998
       2023-02-24                 167.000000  168.070007  163.910004
       2023-02-27                 168.000000  168.410004  164.990005
       2023-02-28 09:36:07-05:00  168.000000  166.220001  165.039993

                                       close   volume    adjclose  dividends  \
symbol date
mmm    2022-02-28                 148.649994  4215300  142.100494        0.0
       2022-03-01                 144.750000  3313900  138.372345        0.0
       2022-03-02                 147.220001  3734600  140.733521        0.0
       2022-03-03                 148.300003  3804200  141.765930        0.0
       2022-03-04                 146.729996  3235200  140.265106        0.0
...                                      ...      ...         ...        ...
zts    2023-02-22                 166.429993  2103800  166.429993        0.0
       2023-02-23                 169.500000  1769000  169.500000        0.0
       2023-02-24                 166.330002  1843200  166.330002        0.0
       2023-02-27                 165.470001  1183700  165.470001        0.0
       2023-02-28 09:36:07-05:00  166.184998   168750  166.184998        0.0

                                  splits       sma25       sma50      sma100
symbol date
mmm    2022-02-28                    0.0         NaN         NaN         NaN
       2022-03-01                    0.0         NaN         NaN         NaN
       2022-03-02                    0.0         NaN         NaN         NaN
       2022-03-03                    0.0         NaN         NaN         NaN
       2022-03-04                    0.0         NaN         NaN         NaN
...                                  ...         ...         ...         ...
zts    2023-02-22                    0.0  166.308999  157.778955  152.750577
       2023-02-23                    0.0  166.705199  158.108346  152.942809
       2023-02-24                    0.0  166.880399  158.384913  153.129822
       2023-02-27                    0.0  166.946799  158.602179  153.277771
       2023-02-28 09:36:07-05:00     0.0  166.924199  158.897395  153.399022

[126044 rows x 11 columns]

In [9]:
indicators_df = Screener.calculate_ma_indicators(screener)

In [10]:
latest_date_df = Screener.latest_date_df(screener)

In [11]:
filtered_df = Screener.filter_on_criteria(screener)
filtered_df

,,open,high,low,close,volume,adjclose,dividends,splits,sma25,sma50,sma100,pc_sma25_by_close,pc_sma50_by_close,pc_sma25_by_sma100,mean_of_sma50_by_close_last_5_days
symbol,date,,,,,,,,,,,,,,,
ogn,2023-02-27,25.780001,26.165001,24.879999,25.090000,3215600,25.090000,0.0,0.0,28.583620,28.735050,26.683938,-12.222455,-12.685031,7.686690,-9.490797
mhk,2023-02-27,105.300003,105.800003,102.849998,102.919998,507700,102.919998,0.0,0.0,116.644400,111.546400,104.813700,-11.766018,-7.733465,6.423492,-5.093627
adbe,2023-02-27,322.019989,325.100006,320.700012,322.320007,3500100,322.320007,0.0,0.0,365.224003,351.905602,334.311400,-11.747310,-8.407253,5.262819,-4.311646
nem,2023-02-27,43.709999,43.930000,43.080002,43.340000,8276900,43.340000,0.0,0.0,49.014000,49.422400,46.516245,-11.576283,-12.306969,6.247612,-10.978083
etsy,2023-02-27,123.839996,124.400002,119.739998,120.599998,3734300,120.599998,0.0,0.0,135.806799,130.995799,121.428900,-11.197378,-7.935980,7.878602,-4.045809
nflx,2023-02-27,323.869995,330.000000,322.119995,323.029999,6138700,323.029999,0.0,0.0,353.301997,330.381399,304.379900,-8.568307,-2.225125,8.542449,-0.890592

In [1]:

import pandas as pd 

filtered_df = pd.read_csv('filtered_stock_df.csv')
top_filtered_stocks = filtered_df["symbol"].head(5)

In [2]:
top_filtered_stocks

0    pool
1      ph
2    aptv
3     bio
4     gww
Name: symbol, dtype: object